//usage: @include clearfix;
@mixin clearfix{
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}
%clearfix{
	@include clearfix;
}

//creates default crossbrowser prefixes
@mixin prefixer($property, $value:null,
                 $webkit: true,
                    $moz: true,
                     $ms: true,
                      $o: true,
                   $spec: true){
  @if $value{
    @if $webkit { -webkit-#{$property}: $value; }
    @if $moz    {    -moz-#{$property}: $value; }
    @if $ms     {     -ms-#{$property}: $value; }
    @if $o      {      -o-#{$property}: $value; }
    @if $spec   {         #{$property}: $value; }
  }
}

@mixin box-sizing($property){
	@include prefixer(box-sizing, $property);
}